<h1>Adicionar usuário</h1>
<form action="/users/create" method="post" class="form">
  <div class="form-control">
    <label for="name">Nome:</label>
    <input type="text" name="nome" placeholder="Digite um nome" />
  </div>

  <div class="form-control">
    <label for="occupation">email:</label>
    <input type="text" name="email" placeholder="Digite a profissão" />
  </div>

  <input type="submit" value="Cadastrar" />
</form>