.container {
  margin-top: 1.5em;
}

.actions button {
  text-decoration: none;
  background-color: #16479d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
  border: 2px solid #16479d;
  font-size: 1em;
  padding: 7px 12px;
}

.actions button:hover {
  background-color: transparent;
  color: #16479d;
}
.actions .btn_edit:hover {
  background-color: transparent;
  color: #ffa500;
}
.actions .btn_delete:hover {
  background-color: transparent;
  color: #e71212e3;
}

.actions .btn_delete {
  border: 2px solid #e71212e3;
  color: #fff;
  background-color: #e71212e3;
}

.actions a,
.actions .btn_delete {
  /* font-size: 12px; */
  padding: 7px 12px;
  /* margin-left: 1em; */
}

.actions .btn_edit {
  background-color: #ffa500;
  border: 2px solid #ffa500;
}
