body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.turmas_header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.turmas_header h1 {
  margin-bottom: 0.3em;
}

.turma_container {
  background-color: #ddd;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.turma_card {
  width: 22%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #133ba7;
}

.turma_card h3 {
  color: #f1f1f1;
  margin-bottom: 1em;
  font-size: 1.6em;
  padding: 8px;
}

.turma_card a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

.btn_add_turma {
  border-radius: 8px;
  background-color: #254bb4;
  color: #fff;
  border: none;
  min-width: 100px;
  min-height: 2.5em;
  width: 180px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
