.overview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 15vh;
    width: 45vh;
    background-color: red;
    margin-right: 5em;
    padding: 1em;
    align-items: center; */
}
.overview div {
  width: 22%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: #133ba7; */
}

.overview div span {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 1.6em;
  /* padding: 8px; */
}
.overview div p {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 1.2em;
  /* padding: 8px; */
}
/*  */
/* .overview div {
    margin: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .overview div span {
    margin-top: 20px;
    color: #133ba7;
  } */

.students_card {
  /* height: 15vh;
    width: 30vh;
    text-align: center;
    justify-content: center;
    align-items: center; */

  background-color: #8e9ecc;
}

.teachers_card {
  /* height: 15vh;
    width: 30vh; */
  background-color: #42be5d;
}

.classes_card {
  /* height: 15vh;
    width: 30vh; */
  background-color: #e1e725;
}

a {
  text-decoration: none;
}
